<beans
    xmlns:ws= "http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet">

  <wss:bindings id="jax-ws.http">
    <wss:bindings>
      <wss:binding url="/add" service="#addService" />
      <wss:binding url="/sub" service="#addService" />
    </wss:bindings>
  </wss:bindings>

  <!-- simplest definition only needs the class name -->
  <ws:service id="addService" impl="foo.MyService" />


</beans>

