.outerBorder {
  margin: 0px;
  padding: 10px 10px 10px 10px;
}

.header {
  border-top: 10px;
  height:100px;
}

.subheader {
  clear:both;
  height:20px;
  margin: 25px 10px 0px 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.subheader div {
  font-size:15px;
  float:right;
}

.main {
  width: 100%;
  height:auto;
  margin-top: 5px;
}

.content {
  margin: 0 0 0 200px;
  height: auto;
  border: 1px solid #000000;
}

.leftSidebar {
  float: left; 
  width: 180px;
  height: 250px;
  border: 1px solid #000000;
}

.banner {
  margin: 0px 40px 0px 0px;
  padding: 5px 0px 0px 5px;
  display:table-cell;
  vertical-align:middle;
  font-size:35px;
 }

.footer {
  clear:both;
  margin-top:10px;
  width:100%;
  text-align:center;
  border: 1px solid #000000;
}