.header {
  height:75px;
}

.subheader {
  clear:both;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height:20px;
  width:100%;
}

.subheader div {
  font-size:15px;
  float:right;
}

.main {
  top:0;
  left:  0;
  width: 100%;
  margin-top: 10px;
}

.rowContainer {
   float:left;
   width: 69%;
   height: 400px;
}

.topRow {
  height: 195px;
  width: 100%;
  border: 1px solid #000000;
  margin-bottom: 8px;
}

.bottomRow {
  width: 100%;
  height: 195px;
  border: 1px solid #000000;
}

.rightSidebar {
  float:right;
  margin-left: 5px;
  width: 30%;
  border: 1px solid #000000;
}

.banner {
  margin: 0px 40px 0px 0px;
  vertical-align:middle;
  font-size:35px;
 }

 .spacer {
       clear: both;
       height: 5px;
 }
 
.footer {
  text-align:center;
  border: 1px solid #000000;
}