.border {
  margin: 0px 10px 20px 10px;
  padding: 0 10px 10px 10px;
}

.header {
  height:20%;
}

.subheader {
  clear:both;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height:20px;
  width:100%;
}

.subheader div {
  font-size:15px;
  float:right;
}

.main {
  top:0;
  left:  0;
  width: 100%;
  margin-top: 10px;
}

.rightColumn {
  float:right;
  width: 49%;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.leftColumn {
  float:left;
  width: 49%;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.banner {
  margin: 0px 40px 0px 0px;
  display:table-cell;
  vertical-align:middle;
  font-size:35px;
 }

.footer {
  clear: both;
  text-align:center;
  border: 1px solid #000000;
}