.outerBorder {
  margin: 0px 0px 0px 0px;
  padding: 0 5px 5px 5px;
}

.header {
  padding-left:10px
  height:70px;
  border: 1px solid #000000;
}

.subheader {
  clear:both;
  height:20px;
  width:100%;
}

.subheader div {
  float:right;
}

.main {
  width: 100%;
  margin-top: 5px;
}

.content {
  margin: 0 200px 0 0 ;
  border: 1px solid #000000;
}

.rightSidebar {
  float: right; 
  width: 190px;
  height: 250px;
  border: 1px solid #000000;
}

.banner {
  margin: 0px 40px 0px 0px;
  display:table-cell;
  vertical-align:middle;
  font-size:35px;
 }

.footer {
  clear: both;
  text-align:center;
  border: 1px solid #000000;
}