.border {
  margin: 0px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
}

.header {
  height:100px;
  border : 1px solid #000000;
}

.subheader {
  clear:both;
  margin-top : 30px; 
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height:20px;
}

.subheader div {
  font-size:15px;
  float:right;
}

.main {
  top:0;
  left:  0;
  width: 100%;
  margin-top: 5px;
}

.rightColumnTop {
  float:right;
  margin-left: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
}

.rightColumn {
  clear : right;
  float : right;
  margin : 5px 0px 5px 5px;
  width: 200px;
  height: 282px;
  border: 1px solid #000000;
}

.leftColumn {
  margin: 0 205px 0 0;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.banner {
  margin: 0px 40px 0px 0px;
  display:table-cell;
  vertical-align:middle;
  font-size:35px;
 }

.footer {
  clear: both;
  text-align:center;
  border: 1px solid #000000;
}