.outerBorder {
  margin: 0px 0px 0px 0px;
  padding: 0 5px 5px 5px;
}

.header {
  height:70px;
}

.subheader {
  clear:both;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height:20px;
}

.subheader div {
  font-size:15px;
  float:right;
}

.main {
  width: 100%;
  margin-top: 5px;
}

.content {
  border: 1px solid #000000;
}


.banner {
  margin: 0px 40px 0px 0px;
  display:table-cell;
  vertical-align:middle;
  font-size:35px;
 }

