.yahoo-grid {
  margin:1em;
}
.yahoo-grid a {text-decoration : underline; color : white}
.yahoo-grid table {border-collapse:collapse;}
.yahoo-grid th, .yahoo-grid td {border:1px solid #000;padding:.25em;}
.yahoo-grid th {background-color:#696969;color:#fff;}/*dark gray*/
.yahoo-grid .yui-dt-odd {background-color:#eee;} /*light gray*/
.yahoo-grid .yui-dt-editable.yui-dt-highlight {background-color:#BEDAFF;} /*light blue*/
}
