<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ws= "http://jax-ws.dev.java.net/spring/core"
       xmlns:wsm="http://jax-ws.dev.java.net/spring/smtp"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd
http://jax-ws.dev.java.net/spring/smtp http://jax-ws.dev.java.net/spring/smtp.xsd"
      >

  <!-- expose on HTTP -->
  <wss:binding url="/soap" service="#bookService" />

  <!-- expose on SMTP -->
  <wsm:smtp service="#bookService" incoming="#in" outgoing="#out" />
  <wsm:pop3 id="in" scheme="pop3" host="kohsuke.org" uid="smtp.transport.server" password="jaxws123" />
  <wsm:sender id="out" host="kohsuke.sfbay.sun.com" port="10025" from="smtp.transport.server@kohsuke.org"/>

  <ws:service id="bookService" impl="books.BookService"/>
</beans>
