<plugin name='metro' version='1.0.2'>
  <author>Martin Grebac</author>
  <authorEmail>martin.grebac@sun.com</authorEmail>
  <title>Add METRO Web Service support to services built with Grails framework.</title>
  <description>METRO plugin allows applications developed with Grails framework to expose service 
classes as SOAP Web Services. It uses the SOAP implementation from METRO (includes JAX-WS).
</description>
  <documentation>http://jax-ws-commons.dev.java.net/grails/</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
</plugin>